<div ng-include="'components/navbar/navbar.html'"></div>

<!--main-->
<div class="container season-container">
  <div class="row">
    <!--left-->
    <div class="col-sm-3" id="leftCol">
      <div mt-season-navbar season-name="vm.season.name" selected-item="overview"></div>
    </div><!--/left-->
    
    <!--right-->
    <div class="col-sm-9">

      <div class="jumbotron">
        <div class="">
          <h1>{{vm.season.name}}</h1>
          <p class="lead">{{vm.season.leagueName}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-default pull-right" ng-click="vm.toggleFixtureForm()">
          <i class="fa fa-pencil"></i> New Fixture</button>
        </div>
      </div> 

      <div class="row top-buffer">
        <div class="col-xs-12">
         <!-- New fixture setup -->
         <div mt-new-fixture season="vm.season" on-fixture-saved="fixtureAdded(fixture)" ng-show="vm.showFixtureForm"></div>
       </div>

     </div>

     

     <!-- Fixture list -->
     <div ng-repeat="fixture in vm.season.fixtures">   
      <div>{{fixture.opposition}}</div>
    </div>

  </div><!--/row-->
</div><!--/container-->