<div ng-include="'components/navbar/navbar.html'"></div>

<!--main-->
<div class="container">
  <div class="row">
    <!--left-->
    <div class="col-sm-3" id="leftCol">
      <div mt-season-navbar season-name="vm.season.name" selected-item="overview"></div>
    </div><!--/left-->
    
    <!--right-->
    <div class="col-sm-9">

      <div class="jumbotron">
        <div class="">
        <h1>{{vm.season.name}}</h1>
          <p class="lead">Kick-start your next web app with Angular Fullstack</p>
        </div>
      </div>


      <h2 id="sec0">{{vm.season.name}}</h2>

      <button class="btn btn-default" ng-click="vm.toggleFixtureForm()">New Fixture</button>

      <!-- New fixture setup -->
      <div mt-new-fixture season="vm.season" on-fixture-saved="fixtureAdded(fixture)" ng-show="vm.showFixtureForm"></div>

      <!-- Fixture list -->
      <div ng-repeat="fixture in vm.season.fixtures">   
        <div>{{fixture.opposition}}</div>
      </div>

    </div><!--/row-->
</div><!--/container-->